/* Top manu bar Start */

.navbar-default {
    background-color: transparent; 
    border-color: transparent;
}

.navbar-default .navbar-nav>li>a {
    color: #828282;
    text-transform: uppercase;
}
.navbar-toggle {
	margin-top:36px;
}
.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 20px;
}
.navbar-brand {
    height: 102px;
}
.logo{
	padding-top:15px;
}
.navbar-nav{
	padding-top:25px;
}
.navbar-default .navbar-nav>li>a:hover {
    color: #fff;
    background-color: #1bbc9b;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: #1bbc9b;
}
.logo_info {
    padding-left: 64px;
    padding-top: 20px;
}
.logo_alink{
	color:#444444;
	
}
.logo_alink:hover{
	text-decoration:none;
}
.logo_info h4{
    font-size: 20px;
    text-transform: uppercase;
	margin-bottom:0px;
	display:inline-block;
}
.logo_info p{
    font-size: 20px;
	
    
}
/* Top manu bar End */

/*Banner part*/
.banner_part{
	background:url(../img/banner.jpg)no-repeat;
}
/*end banner part*/
